{% extends "Site/index.html" %}

{% block content %}
{% load static %}

    <div id="home">
        <div class="header-blue">
            <nav class="navbar navbar-dark navbar-expand-md sticker" style="padding-top:30px;">
                <div class="container"><a class="navbar-brand"  style="font-size:24px;">Contact Page</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="#home" target="_top"></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="#home" target="_top"></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'home_page' %}">Home</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'team_page' %}">Team</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'project_page' %}">Projects</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'contact_page' %}">Contact</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'about_page' %}">About</a></li>
                        </ul>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="shadow" style="width: 100%;min-height: 630px;margin-top: 119px;background-color: rgba(255,255,255,0.79);">
                            <form style="padding-top: 70px;">
                                <div class="form-group">
                                    <h1 class="text-center text-danger">Contact Us.</h1>
                                </div>
                                <div class="form-group"><input class="form-control form-control-lg" type="text" required="" placeholder="Name" style="width: 50%;margin-left: 25%;"></div>
                                <div class="form-group"><input class="form-control form-control-lg" type="email" placeholder="Email" style="width: 50%;margin-left: 25%;"></div>
                                <div class="form-group"><textarea class="form-control form-control-lg" placeholder="Message" style="width: 50%;margin-left: 25%;min-height: 200px;"></textarea></div>
                                <div class="form-group"><button class="btn btn-dark btn-lg" type="submit" style="width: 50%;margin-left: 25%;">Contact us</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div></div>


    {% endblock %}

